<!--Ekaterina Vuono 1700020 -->
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Skills</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

    <ion-list lines="full">
        <ion-list-header>
          <ion-text color="primary">
            <h3>Professionals skills</h3>
          </ion-text>
        </ion-list-header>
        <ion-list>
          <ion-item>
            <ion-label>
          <h5>HTML, CSS, and JavaScript</h5>
          <ion-progress-bar color="dark" value="0.9"></ion-progress-bar>
        </ion-label>
      </ion-item> </ion-list>

      <ion-list>
          <ion-item>
            <ion-label>
          <h5>MySQL</h5>
          <ion-progress-bar color="dark" value="0.6"></ion-progress-bar>
        </ion-label>
      </ion-item> </ion-list>

      <ion-list>
          <ion-item>
            <ion-label>
          <h5>Ionic 4</h5>
          <ion-progress-bar color="dark" value="0.6"></ion-progress-bar>
        </ion-label>
      </ion-item> </ion-list>

      <ion-list>
          <ion-item>
            <ion-label>
          <h5>UI/UX design principles</h5>
          <ion-progress-bar color="dark" value="1.0"></ion-progress-bar>
        </ion-label>
      </ion-item> </ion-list>

      <ion-list>
          <ion-item>
            <ion-label>
          <h5>Microsoft Office</h5>
          <ion-progress-bar color="dark" value="1.0"></ion-progress-bar>
        </ion-label>
      </ion-item> </ion-list>

      <ion-list>
          <ion-item>
            <ion-label>
          <h5>Adobe: Photoshop, Lightroom,<br/> Illustrator, InDesign, Premiere Pro, After Effects</h5>
          <ion-progress-bar color="dark" value="1.0"></ion-progress-bar>
        </ion-label>
      </ion-item> </ion-list>

      </ion-list>

      <ion-list lines="full">
          <ion-list-header>
            <ion-text color="primary">
              <h3>Soft skills</h3>
            </ion-text>
          </ion-list-header>
          <ion-list>
            <ion-item>
              <ion-label>
            <h5>Problem solving</h5>
            <ion-progress-bar color="dark" value="1.0"></ion-progress-bar>
          </ion-label>
        </ion-item> </ion-list>
  
        <ion-list>
            <ion-item>
              <ion-label>
            <h5>Communication</h5>
            <ion-progress-bar color="dark" value="0.9"></ion-progress-bar>
          </ion-label>
        </ion-item> </ion-list>
  
        <ion-list>
            <ion-item>
              <ion-label>
            <h5>Flexibility</h5>
            <ion-progress-bar color="dark" value="0.9"></ion-progress-bar>
          </ion-label>
        </ion-item> </ion-list>
  
        <ion-list>
            <ion-item>
              <ion-label>
            <h5>Creativity</h5>
            <ion-progress-bar color="dark" value="1.0"></ion-progress-bar>
          </ion-label>
        </ion-item> </ion-list>
  
        </ion-list>

  

</ion-content>
