<!--Ekaterina Vuono 1700020 -->
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Personal Info</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>
    <ion-card>
        <ion-img src="https://pp.userapi.com/c853628/v853628508/35078/Pcec9A8fkBw.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>CV application</ion-card-subtitle>
          <ion-card-title>Ekaterina Vuono</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>I am second year Business Information Technology student at Laurea University of Applied Sciences.</p>
          </ion-card-content>
        </ion-card>
    <ion-list lines="full">
      <ion-list-header>
        <ion-text color="primary">
          <h3>Experience</h3>
        </ion-text>
      </ion-list-header>
      <ion-list>
        <ion-item>
          <ion-label>
        <b>01/2018 – 05/2018 </b><br/><br/>
        Laurea University of Applied Sciences <br/>
        Audio and visual service, trainee <br/>
      </ion-label>
    </ion-item> </ion-list>
    </ion-list>

    <ion-list lines="full">
      <ion-list-header>
        <ion-text color="primary">
          <h3>Education</h3>
        </ion-text>
      </ion-list-header>
      <ion-list>
        <ion-item>
          <ion-label>
            <b>01/2018 – </b><br/><br/>
            Laurea University of Applied Sciences <br/>
            Business Information Technology, degree in progress <br/>          
      </ion-label>
    </ion-item> </ion-list>
    </ion-list>
</ion-content>
