<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Extracurricular activities</ion-title>
    </ion-toolbar>
   </ion-header>
  
  <ion-content>
  
      <ion-item>
          <ion-label>
              Figure skating team
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>

        <ion-item>
            <ion-label>
                A part-time job
            </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
  
  </ion-content>