<!--Ekaterina Vuono 1700020 -->
<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
  </ion-buttons>
  <ion-title>Project</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-img src="https://pp.userapi.com/c855536/v855536042/35c26/J9XAR3Ur_rQ.jpg"></ion-img>
          <ion-card-subtitle>Personal project</ion-card-subtitle>
          <ion-card-title>Kiva tekemistä</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>The application I am developed brings together all the facilities for children and other services. This makes it easy for the young person to gather interesting events. Based on MySQL.</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-img src="https://pp.userapi.com/c855536/v855536042/35c2f/QdoL2YRPEMQ.jpg"></ion-img>
              <ion-card-subtitle>Team project</ion-card-subtitle>
              <ion-card-title>Innokylä</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>Innokylä project: Web page, that contains teaching videos about Innokylä. </p>
              </ion-card-content>
            </ion-card>

</ion-content>
